@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body[page-theme="blue"] {
  --mainBackground: linear-gradient(to bottom, #bbf1fa, #a3ddcb);
  --glassBackground: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6)
  );
  --activeRoute: #7ec1da;
  --barColors: #94e7e2;
}
body[page-theme="pink"] {
  --mainBackground: linear-gradient(to bottom, #eb98e4, #eeb9e1);
  --glassBackground: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6)
  );
  --activeRoute: #eeb9e1;
  --barColors: #eb98e4;
}
body[page-theme="brown"] {
  --mainBackground: linear-gradient(to bottom, #e4c08b, #c7b29f);
  --glassBackground: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6)
  );
  --activeRoute: #c7b29f;
  --barColors: #e4c08b;
}
body[page-theme="green"] {
  --mainBackground: linear-gradient(to bottom, #a3f090, #9cc07f);
  --glassBackground: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6)
  );
  --activeRoute: #9cc07f;
  --barColors: #a3f090;
}
main {
  height: 100vh;
  width: 100%;
  background: var(--mainBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.glass {
  height: 85%;
  width: 65%;
  background: var(--glassBackground);
  backdrop-filter: blur(10rem);
  border-radius: 1.3rem;
  display: flex;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}
.left .active .anchor {
  background-color: var(--activeRoute);
  transition: 0.3s ease-in-out;
}
.left {
  flex: 30%;
  border-radius: 1.3rem 0 0 1.3rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
}
.avtar {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  h2 {
    color: #556052;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: "Noto Serif JP", serif;
    text-align: center;
  }
  img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }
}
.allLinks {
  flex: 60%;
}
.links {
  cursor: pointer;
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:nth-child(4)::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 70%;
    background-color: var(--barColors);
    transition: 0.3s ease-in-out;
    height: 0.25rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 70%;
    background-color: var(--barColors);
    transition: 0.3s ease-in-out;
    height: 0.25rem;
  }
}

.anchor {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: #556052;
  transition: 0.25s ease-out;
  &:hover {
    background-color: var(--activeRoute);
    transition: 0.3s ease-in-out;
    color: #373837;
  }
}

.download_btn {
  position: absolute !important;
  height: 3rem;
  width: 3rem;
  top: 0;
  right: 0%;
  margin: 1rem !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.download_link {
  height: 44px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #556052;
  font-family: "Noto Serif JP", serif;
}
.download_icon {
  margin-right: 0.5rem;
  color: #556052;
  font-size: 20px;
}
.right {
  flex: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.heading {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  h1 {
    font-size: 1.8rem;
    font-family: "Noto Serif JP", serif;
  }
}
.socials {
  border-radius: 0rem 0rem 1.3rem 0rem;
  position: absolute;
  bottom: 0%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  min-height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  a {
    text-decoration: none;
    color: #373837;
  }
  a .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .glass {
    height: 100vh;
    width: 100%;
    border-radius: 0rem;
    position: absolute;
    top: 0;
  }
  .left {
    border-radius: 0rem;
  }
  .avtar {
    padding: 0.5rem;
    img {
      height: 4rem;
      width: 4rem;
    }
    h2 {
      font-size: 0.8rem;
      text-align: center;
    }
  }
  .socials {
    position: fixed;
    right: 0%;
    bottom: 5rem;
    width: 70%;
    border-radius: 0;
    justify-content: space-around;
    a {
      font-size: 0.7rem;
    }
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .left {
    flex: 25%;
  }
  .allLinks {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 75%;
    right: 0%;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem 0.5rem;
    z-index: 11;
  }
  .links {
    height: 2.5rem;
    padding: 0.25rem 0rem;
    &::after {
      width: 90%;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 90%;
      background-color: var(--barColors);
      height: 0.25rem;
    }
    &:nth-child(4)::before {
      width: 90%;
    }
  }
  .anchor {
    height: 100%;
    font-size: 0.8rem;
  }
  .download_btn {
    position: fixed !important;
    left: 0%;
    top: 0%;
    margin: 1rem !important;
    background-color: var(--mainBackground) !important;
  }
  .right {
    padding-top: 5rem;
    flex: 75%;
  }
  .socials {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 100%;
    min-height: 3rem;
    justify-content: space-around;
    a {
      font-size: 0.7rem;
    }
  }
}

// @media (max-width: 300px) {
//   .socials {
//   }
// }
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--barColors);
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--activeRoute);
  transition: 0.3s ease-in-out;
}
